# Exploratory Data Analysis

In [18]:
#load the libraries
import pandas as pd

Reading the csv file and displaying first 5 rows of data to get a quick look at it

In [16]:
data = pd.read_csv("data_clean.csv")# reading csv file
data.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data_clean.csv'

In [ ]:

#displaying the structure of data

data.info()

In [ ]:
#Data Structure(checking the shape and type of data)
print(type(data))
print(data.shape)

In [ ]:
#data types of columns of dataframe
data.dtypes

In [ ]:
# displaying summary statistics of numerical columns
data.describe()

### This is comment

# Data type conversion

In [ ]:

# Check how many null values are in the 'Month' column
data['Month'].isnull().sum()

In [ ]:
data['Ozone'].isnull().sum()

In [ ]:
data['Month'].head(25)

In [ ]:
# following line will show an error
data['Month']=pd.to_numeric(data['Month'])

In [ ]:

# Convert the 'Month' column to numeric, coercing any errors (invalid parsing) into NaN values
data['Month']=pd.to_numeric(data['Month'],errors='coerce')

In [ ]:
# Convert the 'Month' column to numeric, coercing errors into NaN for invalid values.
# Example: If the original values were [1, 1.5, 'NA'], it converts non-numeric entries to NaN.
data['Month'] = pd.to_numeric(data['Month'], errors='coerce')

# Convert the 'Temp C' column to numeric. Invalid entries will be coerced to NaN.
# This ensures all temperature values are numeric.
data['Temp C'] = pd.to_numeric(data['Temp C'], errors='coerce')

# Convert the 'Weather' column to a categorical data type, which is useful for columns with a fixed number of unique values.
data['Weather'] = data['Weather'].astype('category')

# Convert the 'Wind' column to an integer data type (assuming the 'Wind' column is purely numeric).
# data['Wind'] = data['Wind'].astype('int64')
# Uncomment this line if the 'Wind' column should be integers, but make sure there are no NaN values before doing so.

In [ ]:

#rechecking structure of data to verify the change in dtypes of columns
data.info()

####More on data type conversions
[link text](https://stackoverflow.com/questions/15891038/change-column-type-in-pandas)

# Duplicates

In [ ]:
# Check for duplicate rows in the DataFrame.
# Returns a Boolean Series where 'True' indicates a duplicate row.
# The '.head(40)' displays the first 40 rows to show which are duplicates.
data.duplicated().head(40)

In [ ]:
#Count of duplicated rows
data[data.duplicated()].shape

In [ ]:
#Print the duplicated rows
data[data.duplicated()]

In [ ]:

# drops duplicated rows
data_cleaned1=data.drop_duplicates()

In [ ]:

# shape of my cleaned dataset
data_cleaned1.shape

# Drop columns

In [ ]:
data

In [ ]:
# Dropping the 'Unnamed: 0' and 'Temp C' columns from the DataFrame 'data_cleaned1'
# 'axis=1' indicates that we are dropping columns (not rows).
# The result is stored in a new DataFrame named 'data_cleaned2'.
data_cleaned2 = data_cleaned1.drop(['Unnamed: 0', 'Temp C'], axis=1)

# Display the resulting 'data_cleaned2' DataFrame after the specified columns are removed.
data_cleaned2

# Rename the columns

In [ ]:
#rename the Solar column
data_cleaned3 = data_cleaned2.rename({'Solar.R': 'Solar'}, axis=1)

In [ ]:

# checking if column was renamed
data_cleaned3

# Missing Values and Imputation

In [ ]:

# Get the column names from the 'data_cleaned3' DataFrame
cols = data_cleaned3.columns
cols

In [ ]:


# Import the Seaborn library for data visualization
import seaborn as sns
# Define a color palette for the heatmap:
# '#000099' (blue) represents non-missing values,
# '#ffff00' (yellow) represents missing values (NaN)
colours = ['#000099', '#ffff00'] # specify the colours - yellow is missing. blue is not missing.

# Create a heatmap using Seaborn to visualize missing values in the DataFrame 'data_cleaned3'.
# The 'isnull()' method returns a DataFrame of booleans indicating NaN values.
# 'sns.color_palette(colours)' applies the defined color palette
sns.heatmap(data_cleaned3[cols].isnull(),
            cmap=sns.color_palette(colours))

In [ ]:


# Display the first few rows of 'data_cleaned3' where any NaN values are present in the row
data_cleaned3[data_cleaned3.isnull().any(axis=1)].head()

In [ ]:


# Display the first few rows of the 'data_cleaned3' DataFrame

data_cleaned3.head()

In [ ]:
# Use backward fill ('bfill') to fill missing values in 'data_cleaned3'.
# It fills NaN values by propagating the next valid value backward.
df_fill = data_cleaned3.bfill()

In [ ]:
# Display the first few rows of the DataFrame 'df_fill' after applying the backward fill.
df_fill.head()

In [ ]:
data_cleaned3.head() # original remains same , if you want to change original , make inplace=True

In [ ]:
# Check if there are any remaining missing values in 'data_cleaned3' by summing the null values in each column.
data_cleaned3.isnull().sum()

In [ ]:
# Mean Imputation for the 'Ozone' column
# Calculate the mean of the 'Ozone' column, ignoring NaN values.
m = data_cleaned3['Ozone'].mean()
print(m)

In [ ]:
# Fill the missing values in the 'Ozone' column with the calculated mean.
data_cleaned3['Ozone'] = data_cleaned3['Ozone'].fillna(m)

In [ ]:
# Check if any missing values remain in the 'Ozone' column after mean imputation.
data_cleaned3['Ozone'].isnull().sum()

In [ ]:
# Missing value imputation for categorical values
# Get the object (categorical) columns from the DataFrame.

# Extract the 'Weather' column (which is categorical) for imputation.
obj_columns = data_cleaned3[['Weather']]

In [ ]:
# Check for missing values in the extracted categorical columns.
obj_columns.isnull().sum()

In [ ]:
# Display the first few rows of the categorical column 'Weather' to inspect.
obj_columns.head()

In [ ]:
# Get the mode (most frequent value) of the 'Weather' column.
# The mode is used for imputing missing values in categorical columns.
data_cleaned3[['Weather']].mode()

In [ ]:
# Extract the mode value of the 'Weather' column using .iloc[0] to get the first mode in case of multiple modes.
z = obj_columns.mode().iloc[0]
print(z)  # Display the mode value for inspection.

In [ ]:
# Fill missing values in the 'Weather' column with the mode value (z).
obj_columns = obj_columns.fillna(z)

In [ ]:
# Check if any missing values remain in the 'Weather' column after mode imputation.
obj_columns.isnull().sum()

In [ ]:
# Update the 'Weather' column in the original 'data_cleaned3' DataFrame with the imputed data.
data_cleaned3['Weather'] = obj_columns

In [ ]:
#boxplot of columns of cleaned dataset
data_cleaned3.boxplot()

In [ ]:
# Join the original 'data_cleaned3' DataFrame with the imputed 'obj_columns' (categorical columns)
# 'axis=1' indicates column-wise concatenation.
data_cleaned4 = pd.concat([data_cleaned3, obj_columns], axis=1)

In [ ]:
# Check for any remaining missing values in the newly combined 'data_cleaned4' DataFrame.
data_cleaned4.isnull().sum()

In [ ]:
data_cleaned4

In [ ]:
#Bar plot
data['Weather'].value_counts().plot.bar()

# Outlier Detection

In [ ]:
# histogram of Ozone
data_cleaned3['Ozone'].hist()

In [ ]:
#Box plot
import matplotlib.pyplot as plt
data_box=data_cleaned3.dropna()
data1_box=data_box.Ozone
plt.boxplot(data1_box)

In [ ]:
dir(data_box)

In [ ]:
# Create a boxplot for the 'Ozone' column (excluding NaN values) to visualize outliers.
box = plt.boxplot(data['Ozone'].dropna())

In [ ]:
# Check the type of the boxplot object to understand its structure.
type(box)

# Iterate through the dictionary-like boxplot object to inspect its components.
# The 'box' object contains information about the elements of the boxplot (like whiskers, fliers, etc.).
for i, j in box.items():
    print(i, j)

In [ ]:
[item.get_ydata() for item in box['fliers']] #fliers are outliers

In [ ]:
#To get the whiskers
[item.get_ydata()[1] for item in box['whiskers']]

In [ ]:
#Descriptive stat of ozone
data_cleaned3['Ozone'].describe()

# Scatter plot and Correlation analysis

In [ ]:
# Seaborn visualization library
import seaborn as sns
# Create the default pairplot
pd.plotting.scatter_matrix(data_cleaned3)
sns.pairplot(data_cleaned3)

In [ ]:
#Correlation matrix generation
data_cleaned3.corr()

# Transformations

#### Dummy Variable

In [ ]:
data_cleaned3

In [ ]:
#Creating dummy variables for Weather column
data_cleaned4=pd.get_dummies(data_cleaned3,columns=['Weather'])

In [ ]:

# checking if dummy variables were created
data_cleaned4

In [ ]:
data_cleaned4=data_cleaned4.dropna()

#### Normalization of the data

In [ ]:
#Normalization of the data
from numpy import set_printoptions
from sklearn.preprocessing import MinMaxScaler

In [ ]:
array = data_cleaned4.values
array

In [ ]:

# Initialize the MinMaxScaler, which scales the data to a given range (here, 0 to 1).
scaler = MinMaxScaler(feature_range=(0, 1))

# Apply the MinMax scaling to the input array 'array'.
# This will transform all features to the range [0, 1].
rescaledX = scaler.fit_transform(array)

In [ ]:
#transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])

In [ ]:
# Standardize data (0 mean, 1 stdev)
from sklearn.preprocessing import StandardScaler

In [ ]:
array = data_cleaned4.values
scaler = StandardScaler()
scaler.fit(array)
rescaledX = scaler.transform(array)

# summarize transformed data
set_printoptions(precision=2)
print(rescaledX[0:5,:])