In [2]:
import pandas as pd

In [ ]:
# Sample customer data
customer_data = {
    'Name': [' john doe ', 'JANE SMITH', 'Alice JOHNSON '],
    'Email': ['JOHN.DOE@example.COM', 'JANE.SMITH@sample.COM', 'ALICE.johnson@sample.com']
}

# Create a DataFrame
df = pd.DataFrame(customer_data)

# Print original data
print("Original Data:")
print(df)

In [ ]:
# Step 1: Trim whitespace from names
df['Name'] = df['Name'].str.strip()

In [17]:
df['Name']

0         john doe
1       JANE SMITH
2    Alice JOHNSON
Name: Name, dtype: object

In [19]:

# Step 2: Standardize case
df['Name'] = df['Name'].str.title()  # Converts names to Title Case
df['Email'] = df['Email'].str.lower()  # Converts emails to Lower Case

In [9]:
df

            Name                     Email
0       John Doe      john.doe@example.com
1     Jane Smith     jane.smith@sample.com
2  Alice Johnson  alice.johnson@sample.com

In [10]:

# Step 3: Split names into first and last names
df[['First Name', 'Last Name']] = df['Name'].str.split(expand=True)

df

            Name                     Email First Name Last Name
0       John Doe      john.doe@example.com       John       Doe
1     Jane Smith     jane.smith@sample.com       Jane     Smith
2  Alice Johnson  alice.johnson@sample.com      Alice   Johnson

In [11]:
# Step 4: Extract domain from email addresses
df['Domain'] = df['Email'].str.split('@').str[1]

df

            Name                     Email First Name Last Name       Domain
0       John Doe      john.doe@example.com       John       Doe  example.com
1     Jane Smith     jane.smith@sample.com       Jane     Smith   sample.com
2  Alice Johnson  alice.johnson@sample.com      Alice   Johnson   sample.com

In [31]:
# Print cleaned data
print("\nCleaned Data:")
print(df)

Cleaned Data:
             Name                     Email
0       john doe       JOHN.DOE@example.COM
1      JANE SMITH     JANE.SMITH@sample.COM
2  Alice JOHNSON   ALICE.johnson@sample.com

In [ ]:

# Sample Output:
# Original Data:
#               Name                   Email
# 0       john doe      JOHN.DOE@example.COM
# 1       JANE SMITH      JANE.SMITH@sample.COM
# 2       Alice JOHNSON    ALICE.johnson@sample.com
#
# Cleaned Data:
#              Name                   Email First Name Last Name        Domain
# 0     John Doe       john.doe@example.com       John       Doe  example.com
# 1     Jane Smith     jane.smith@sample.com       Jane     Smith  sample.com
# 2     Alice Johnson  alice.johnson@sample.com      Alice  Johnson  sample.com

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load Sample Data
customer_data = {
    'Name': [' john doe ', 'JANE SMITH', 'Alice JOHNSON '],
    'Email': ['JOHN.DOE@example.COM', 'JANE.SMITH@sample.COM', 'ALICE.johnson@sample.com']
}
df = pd.DataFrame(customer_data)

# Print original data
print("Original Data:")
print(df)

# Step 2: Clean and Transform Data
# Trim whitespace from names
df['Name'] = df['Name'].str.strip()

# Standardize case
df['Name'] = df['Name'].str.title()  # Converts names to Title Case
df['Email'] = df['Email'].str.lower()  # Converts emails to Lower Case

# Split names into first and last names
df[['First Name', 'Last Name']] = df['Name'].str.split(expand=True)

# Extract domain from email addresses
df['Domain'] = df['Email'].str.split('@').str[1]

# Print cleaned data
print("\nCleaned Data:")
print(df)

# Step 3: Load Data into the Database
# Create a SQLite database connection
engine = create_engine('sqlite:///customer_data.db')

# Load the DataFrame into the SQL database
df.to_sql('customers', con=engine, if_exists='replace', index=False)

# Confirm that the data has been loaded successfully
loaded_df = pd.read_sql('customers', con=engine)
print("\nLoaded Data from Database:")
print(loaded_df)

Original Data:
             Name                     Email
0       john doe       JOHN.DOE@example.COM
1      JANE SMITH     JANE.SMITH@sample.COM
2  Alice JOHNSON   ALICE.johnson@sample.com

Cleaned Data:
            Name                     Email First Name Last Name       Domain
0       John Doe      john.doe@example.com       John       Doe  example.com
1     Jane Smith     jane.smith@sample.com       Jane     Smith   sample.com
2  Alice Johnson  alice.johnson@sample.com      Alice   Johnson   sample.com

Loaded Data from Database:
            Name                     Email First Name Last Name       Domain
0       John Doe      john.doe@example.com       John       Doe  example.com
1     Jane Smith     jane.smith@sample.com       Jane     Smith   sample.com
2  Alice Johnson  alice.johnson@sample.com      Alice   Johnson   sample.com